* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #777;
    font-weight: 100;
    background-color: rgb(167, 69, 69);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#contact {
    background: rgb(247, 234, 242);
    padding: 25px;
    margin: 150px auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0 15px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}

#input-name,
#input-email,
#input-number,
#input-website,
#input-textarea,
#input-button {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#input-textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#input-button {
    cursor: pointer;
    width: 100%;
    border: none;
    background: rgb(245, 145, 145);
    color: white;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#input-button:hover {
    background-color: rgb(204, 121, 179);

}

.copyright {
    text-align: center;
}

@media(min-width:800px) and (max-width:1200px) {
    body {
        font-size: 45px;
        color: chocolate;
    }

    .container {
        width: 800px;
    }

    #input-button {
        border-radius: 10px;
        height: 60px;
        width: 300px;
        margin: 0 225px 15px;
       background-color:  rgb(184, 42, 42);
    }

    #input-name,
    #input-email,
    #input-number,
    #input-website,
    #input-textarea {
        width: 100%;
    border: 3px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 20px;
    border-radius: 10px;
    }
}
@media(min-width:1200px) and (max-width:1500px){
    body{
        font-size: 50px;
        color: rgb(230, 105, 105);
        background-color: rgb(127, 109, 168);
    }
    form{
        border-radius: 30px;
    }
    h1{
        font-size: 50px;
    margin-bottom: 20px;
    }
    h2{
        font-size: 20px;
    }
    #input-name,
    #input-email,
    #input-number,
    #input-website,
    #input-textarea {
    border: 5px solid rgb(161, 103, 103);
    padding: 20px;
    border-radius: 20px;
}
#input-button {
    border-radius: 20px;
    height: 80px;
    width: 500px;
    margin: 0 125px 15px;
   background-color:  rgb(53, 20, 202);
}
}